[user]
	email = baezanat@gmail.com
[core]
  excludesfile = "~/.gitignore_global"
[pull]
  rebase = true
[push]
  default = current
[tig]
  main-view = author:full commit-title:yes,graph=v2,refs=yes
  blame-view = author:full file-name:auto id:yes,color=yes text
  line-graphics = utf-8 # Draw pretty connectors in tree layout
[alias]
  a = add --patch
  s = status
  can = commit --amend --no-edit
  ch = checkout
  co = commit
  n = --no-ff --no-edit
  b = branch
  pf = push --force-with-lease
  bdl = branch -d
  bdr = push origin --delete
